main {
    margin: auto;
    width: 500px;
    left: 40%;
    right: 20%;
    line-height: 30px;
}

#description {
    
}

.hide {
    display: none;
}

#map-back {
    font-size: 12px;
    
}

#character {
    width: 75px;
    height: 70px;
    border-radius: 50px;

}

header {
    display: flex;
    justify-content: left;
    width: auto;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: rgb(72, 72, 73);
}